* {
    font-family: "Quicksand",sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/originals/1d/73/5a/1d735ad8eee8350adc96d50e1421ee6d.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 1);
}

h1, p {
    color: white;
}